/*------ CONFIRMAR PEDIDO -----*/

main {
  padding-top: 30px;
  margin: 2rem;
}

main section.pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 65px;
}

main section.pedido .box1 {
  display: flex;
  width: 50%;
  padding: 40px 30px;
  flex-direction: column;
  gap: 15%;
}

main section.pedido h1 {
  color: #2a130a;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: uppercase;
  margin: 1rem;
}

@media (max-width: 415px) {
  main section.pedido h1 {
    font-size: 20px;
  }
}

main section.pedido p {
  color: #2a130a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  opacity: 0.9;
}

main section.pedido .box2 {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 15px 15px 15px 15px;
  background: #aea393;
  padding: 50px 50px;
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 1024px) {
  main section.pedido {
    display: flex;
    margin-top: 65px;
    margin-bottom: 100px;
    margin-left: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }

  main section.pedido .box1 {
    display: flex;
    width: 90%;
    padding: 40px 30px;
    flex-direction: column;
    gap: 15%;
  }

  main section.pedido .box2 {
    display: flex;
    justify-content: center;
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    background: #aea393;
    padding: 50px 50px;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
  }
}

@media only screen and (max-width: 1024px) {
  main section.pedido {
    display: flex;
    margin-top: 65px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  main section.pedido {
    display: flex;
    margin-top: 65px;
    margin-bottom: 100px;
    margin-left: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }

  main section.pedido .box1 {
    display: flex;
    width: 90%;
    padding: 40px 30px;
    flex-direction: column;
    gap: 15%;
  }

  main section.pedido .box2 {
    display: flex;
    justify-content: center;
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    background: #aea393;
    padding: 50px 50px;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
  }
}

@media only screen and (max-width: 1024px) {
  main section.pedido {
    display: flex;
    margin-top: 65px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }
}

main section.pedido .box2 img {
  width: 40%;
  animation: slide 2s infinite;
  opacity: 0;
  transform: translateX(-80px);
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(10px);
  }
}

.text {
  text-decoration: underline;
  font-size: 18px;
  padding: 5px;
  animation: fadeIn 2s ease-in-out forwards, highlight 5s 2s;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes highlight {
  0%,
  100% {
    background: none;
    color: inherit;
  }
  50% {
    background: rgb(236, 236, 221);
    color: black;
    border-radius: 8px;
    padding: 5px;
  }
}
footer {
  margin-top: 200px;
}
