/*------ CONTATO -----*/

.menuproduto .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding: 5% 0;
    margin: 0 auto;
}

@media (max-width: 920px) {
    .menuproduto {
        flex-direction: column-reverse;
    }

    .contato-localizacao .container {
        flex-direction: column;
    }
}

.btn {
    display: flex;
    justify-content: center;
}

.textomenu {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    padding: 5% 5%;
    flex-direction: column;

}

.textomenu a {
    text-decoration: none;
}

.h1 {
    color: #2a130a;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 121.2%;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
}


.p {
    color: #2a130a;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.32px;
    opacity: 0.45;
    margin-top: 40px;
    text-align: center;
}


.btn-menu {
    background-color: #2a130a;
    border: 0;
    width: 20rem;
    height: 55px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    color: #ac9675;
    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 100ms linear;
    letter-spacing: 0.2em;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, .35); 
}


.btn-menu:hover {
    background-color: #160801;
    color: #ac9675;
    width: 30rem;
    height: 60px;
}

.btn-menu:active {
    transform: translateY(10px);
}


.imagemmenu {
    width: 20%;
    height: auto;
}

.imagemmenu img {
    width: 100%;
    height: 100%;
}

.contato-localizacao {
    width: 100%;
    padding: 5% 0;
    background-color: #aea393;
}

.contato-localizacao .container {
    display: flex;
}

.section-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    margin: 0 auto;
}

.section-form h1 {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.formulario label {
    color: #2a130a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.48px;
    opacity: 0.9;
    margin: 10px 10px;
    text-align: left;
}

.formulario input,
textarea {
    font-size: 16px;
    padding: 12px;
    display: block;
    width: 100%;
    background-color: #f5eeee;
    outline: none;

    border: 1px solid rgb(var(--wix-ui-tpa-text-field-main-border-color-rgb, var(--wix-color-5)),
            calc(var(--wix-ui-tpa-text-field-main-border-color-opacity, 1) * var(--wix-ui-tpa-text-field-main-border-opacity, 0.6)));
}

.botao {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn-form {
    background-color: #2a130a;
    border: 0;
    width: 20rem;
    height: 55px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    color: #ac9675;
    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 100ms linear;
    letter-spacing: 0.2em;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, .35);    
}

.btn-form:hover {
    background-color: #160801;
    color: #ac9675;
    width: 30rem;
    height: 60px;
}

.btn-form:active {
    transform: translateY(10px);
}

.mapa {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 2%;
    margin: 0 auto;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, .35);
}
