/* sinta-se melhor */
main {
  padding: 50px 0px 0px 0px;
  margin: auto;
}
.sintasemelhor {
  background-color: rgb(174, 163, 147);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 150px 50px;
}
.imagem1 {
  padding: 20px 100px 0px 0px;
}
.text1 h1 {
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%; /* 55.752px */
}
.text1 p {
  text-align: justify;
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  width: 400px;
  padding: 40px 0px 40px 10px;
}
.text1 a {
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #2a130a;
  border-radius: 3px;
  padding: 8px 40px;
  text-align: center;
  /* Semibold/Type@16 */
  font-family: Plus Jakarta Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

/* que tal um koffie */
.quetal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0px 100px 0px;
  background-color: rgb(174, 163, 147);
}
.text2 {
  color: #1f2401;
  font-family: Plus Jakarta Sans;
  font-size: 35px;
  font-style: normal;
  padding: 20px 0px 20px 0px;
  font-weight: 800;
  line-height: 121.2%; /* 55.752px */
}
.text2 p {
  color: #1f2401;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  padding: 30px 0px 20px 20px;
}
.text2 a {
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: white;
  background-color: #2a130a;
  border-radius: 3px;
  padding: 8px 40px;
  text-align: center;
  /* Semibold/Type@16 */
  font-family: Plus Jakarta Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
.imagem2 {
  padding: 150px 0px 0px 100px;
}

/* Mais pedidos */
.maispedidos {
  padding: 150px 0px 150px 50px;
  background-color: rgb(174, 163, 147);
}
.text3 {
  padding: 0px 0px 40px 0px;
  color: #1f2401;
  font-family: DM Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 158.333% */
  letter-spacing: 0.5px;
}

.tabela {
  width: 500px;
  display: flex;
  height: 400px;
  gap: 40px 50px;
}

/* Nossas Marcas de cafes */
.parceiros {
  padding: 50px 0px 150px 50px;
  justify-content: center;
  align-items: center;
}
.text4 {
  color: #1f2401;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 72px */
  letter-spacing: -0.96px;
}
.imagem4 {
  justify-content: center;
  padding: 80px 0px 0px 0px;
  gap: 0px 20px;
}

/* O que nossos clientes dizem */
.clientesdizem {
  padding: 50px 0px 150px 0px;
  justify-content: center;
  align-items: center;
  background-color: rgb(174, 163, 147);
}
.text5 {
  color: #1f2401;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 72px */
  letter-spacing: -0.96px;
  padding: 50px 0px 50px 0px;
}
.imagem5 {
  width: 405px;
  height: 241px;
}
