.texto {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  padding: 5% 0;
  text-align: center;
  width: 100%;
}

.texto h1 {
  color: #2a130a;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: capitalize;
}
@media (max-width: 790px) {
  .texto h1 {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .texto h1 {
    font-size: 27px;
  }
}
@media (max-width: 355px) {
  .texto h1 {
    font-size: 20px;
  }
}

.texto h2 {
  color: #2a130a;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: capitalize;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .texto h2 {
    font-size: 20px;
  }
}

/*------ CARDS -----*/

.produtos {
  margin: 2%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.col-md-3 {
  width: 240px;
}

@media (max-width: 1153px) {
  .col-md-3 {
    width: 210px;
  }
}
@media (max-width: 748px) {
  .col-md-3 {
    width: 180px;
  }
}
@media (max-width: 643px) {
  .col-md-3 {
    width: 150px;
  }
}

.wsk-cp-product {
  background: #aea393;
  padding: 13px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
}

.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}

.wsk-cp-text {
  padding-top: 100%;
}

.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
}

.wsk-cp-text .category > span {
  width: 100%;
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #2a130a;
  color: #f5eeee;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}

@media (max-width: 643px) {
  .wsk-cp-text .category {
    font-size: 0.6rem;
  }
  .wsk-cp-text .category > span {
    padding: 8px 25px;
  }
}

.wsk-cp-product:hover .wsk-cp-text .category > span {
  border-color: #ddd;
  box-shadow: none;
  padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}

.wsk-cp-text .title-product {
  text-align: center;
}

.wsk-cp-text .title-product h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  color: rgb(196, 127, 23);
  background-color: #f1e9c9;
  border-radius: 5px;
}

@media (max-width: 643px) {
  .wsk-cp-text .title-product h3 {
    font-size: 0.6rem;
    margin: 10px auto;
  }
}

.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 62px;
  overflow: hidden;
  display: -webkit-box;
  /*  -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

.wsk-cp-text .description-prod p {
  margin: 0;
  color: #2a130a;
  font-size: 1rem;
}
@media (max-width: 643px) {
  .wsk-cp-text .description-prod p {
    font-size: 0.8rem;
  }
}

.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #f5eeee;
}

.card-footer:after,
.card-footer:before {
  content: "";
  display: table;
}

.card-footer:after {
  clear: both;
}

.card-footer .wcf-left {
  float: left;
}

.card-footer .wcf-right {
  float: right;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #2a130a;
}

.price::before {
  content: "R$ ";
}

.price::after {
  content: ",00 ";
}

.card-footer input {
  font-size: 16px;
  padding: 12px;
  display: block;
  width: 100%;
  height: 47px;
  background-color: #f5eeee;
  outline: none;
  margin-bottom: 10%;

  border: 1px solid
    rgb(
      var(--wix-ui-tpa-text-field-main-border-color-rgb, var(--wix-color-5)),
      calc(
        var(--wix-ui-tpa-text-field-main-border-color-opacity, 1) *
          var(--wix-ui-tpa-text-field-main-border-opacity, 0.6)
      )
    );
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 1;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input::-webkit-inner-spin-button {
  all: unset;
  min-width: 20px;
  min-height: 44px;
  margin: 18px;
  padding: 0px;
  background-image: linear-gradient(
      to top,
      transparent 0px,
      transparent 16px,
      #f5eeee 16px,
      #f5eeee 26px,
      transparent 26px,
      transparent 35px,
      #000 35px,
      #000 36px,
      transparent 36px,
      transparent 40px
    ),
    linear-gradient(
      to right,
      transparent 0px,
      transparent 10px,
      #000 10px,
      #000 11px,
      transparent 11px,
      transparent 21px
    );
  transform: rotate(90deg) scale(0.8, 0.9);
  cursor: pointer;
}

a.buy-btn {
  display: block;
  color: #2a130a;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #2a130a;
  transition: all 0.2s ease-in-out;
}

a.buy-btn.selected {
  border: 2.5px solid #fff;
  background: #ff9800;
  color: #fff;
}

a.buy-btn:hover {
  border-color: #ff9800;
  background: #ff9800;
  color: #fff;
  text-decoration: none;
}

.produtos .container input[type="button"]:hover {
  background-color: #160801;
  color: #ac9675;
  width: 28rem;
}

.produtos .container .botao {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.produtos .container input[type="button"] {
  background-color: #2a130a;
  border: 0;
  width: 20rem;
  height: 55px;
  font-size: 22px;
  color: #ac9675;
  margin-top: 100px;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 100ms linear;
  letter-spacing: 0.2em;
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
}

@media (max-width: 700px) {
  .produtos .container input[type="button"] {
    margin-top: none;
    font-size: 16px;
    width: 15rem;
    height: 45px;
  }
  .produtos .container input[type="button"]:hover {
    background-color: #160801;
    color: #ac9675;
    width: 20rem;
  }
}
