/*------ PEDIDO -----*/

main {
  padding-top: 50px;
}

main span {
  color: #2a130a;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: capitalize;
  margin-top: 30px;
}

main section.pedido {
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
  gap: 5%;
}

main section.pedido .box1 {
  width: 50%;
  border-radius: 63px 0px 63px 0px;
  background: #aea393;
  padding: 40px 30px;
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
}

main section.pedido .box1 .box1-parte1 {
  display: flex;
  border-radius: 5px;
  gap: 5%;
}

main section.pedido .box1 .box1-parte2 .endereco-entrega {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;
}

confirmar-pedido,
.quantidade,
.endereco-entrega input,
select {
  border-radius: 5px;
}

main section.pedido .box1 img {
  width: 40px;
  height: 40px;
  color: #2a130a;
}

main section.pedido h1 {
  color: #2a130a;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: uppercase;
}

main section.pedido p,
label {
  color: #2a130a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  opacity: 0.9;
}

main section.pedido input {
  font-size: 16px;
  padding: 12px;
  display: block;
  width: 100%;
  height: 47px;
  background-color: #f5eeee;
  outline: none;

  border: 1px solid
    rgb(
      var(--wix-ui-tpa-text-field-main-border-color-rgb, var(--wix-color-5)),
      calc(
        var(--wix-ui-tpa-text-field-main-border-color-opacity, 1) *
          var(--wix-ui-tpa-text-field-main-border-opacity, 0.6)
      )
    );
}

main section.pedido select {
  border: none;
  color: #2a130a;
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  height: 47px;
  background: #f5eeee;
  outline: none;
  -webkit-appearance: none;
  background-image: url("../src/image.svg");
  background-size: 12px;
  background-position: 98% center;
  background-repeat: no-repeat;
}

main section.pedido input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

main section.pedido input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

main section.pedido .box2 {
  width: 50%;
  border-radius: 63px 0px 63px 0px;
  background: #aea393;
  padding: 40px 30px;
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
}

main section.pedido .box2 .box2-parte1 {
  display: flex;
  justify-content: space-between;
}

main section.pedido .box2 .box2-parte1 img {
  width: 140px;
  height: 140px;
}

main section.pedido .box2 .box2-parte1 h1 {
  padding-top: 20px;
}

main section.pedido .box2 .box2-parte1 input {
  margin-top: 20px;
}

main section.pedido .box2 .box2-parte1 input::-webkit-inner-spin-button {
  all: unset;
  min-width: 21px;
  min-height: 45px;
  margin: 17px;
  padding: 0px;
  background-image: linear-gradient(
      to top,
      transparent 0px,
      transparent 16px,
      #f5eeee 16px,
      #f5eeee 26px,
      transparent 26px,
      transparent 35px,
      #000 35px,
      #000 36px,
      transparent 36px,
      transparent 40px
    ),
    linear-gradient(
      to right,
      transparent 0px,
      transparent 10px,
      #000 10px,
      #000 11px,
      transparent 11px,
      transparent 21px
    );
  transform: rotate(90deg) scale(0.8, 0.9);
  cursor: pointer;
}

main section.pedido .box2 hr {
  width: 100%;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 10px;
  background: #2a130a;
}

main section.pedido .box2 .box2-parte2 {
  display: flex;
  justify-content: space-between;
}

main section.pedido .box2 .box2-parte2 h1 {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

main section.pedido .box2 .titulo {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

main section.pedido .box2 .valores {
  display: flex;
  flex-direction: column;
  gap: 80px;
  text-align: right;
}

main section.pedido .box2 .botao {
  display: flex;
  justify-content: center;
}

main section.pedido .box2 input[type="submit"] {
  background-color: #2a130a;
  border: 0;
  width: 60%;
  height: 55px;
  font-size: 22px;
  color: #ac9675;
  margin-top: 100px;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 200ms linear;
  letter-spacing: 0.2em;
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
}

@media only screen and (min-width: 385px) and (max-width: 600px) {
  main section.pedido .box2 input[type="submit"] {
    background-color: #2a130a;
    border: 0;
    width: 60%;
    height: 55px;
    font-size: 22px;
    color: #ac9675;
    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms linear;
    letter-spacing: 0.2em;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
    font-size: 11px;
  }
  .completar-pedido {
    font-size: 22px;
    margin-left: 15px;
  }

  .direitos-reservados p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1333px) {
  main section.pedido .box2 input[type="submit"] {
    background-color: #2a130a;
    border: 0;
    width: 60%;
    height: 55px;
    font-size: 22px;
    color: #ac9675;
    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms linear;
    letter-spacing: 0.2em;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.35);
    font-size: 14px;
  }
  .completar-pedido {
    font-size: 28px;
    margin-left: 15px;
  }
}

main section.pedido .box2 input[type="submit"]:hover {
  background-color: #160801;
  color: #ac9675;
  width: 30rem;
}

@media only screen and (max-width: 1024px) {
  main section.pedido {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  main section.pedido .box1,
  main section.pedido .box2 {
    width: 100%;
    margin-top: 5%;
  }
}

.pedido-item {
  width: 200px;
  height: 10%;
  text-align: end;
  font-weight: 200;
}

.pedido-item p:first-of-type {
  font-weight: 800;
  font-size: 16px;
}

.pedido-item p::nth-of-type(2) {
  font-weight: light;
  font-size: 12px;
}

.pedido-item p::nth-of-type(3) {
  font-weight: light;
  font-size: 12px;
}

@media only screen and (max-width: 500px) {
  .pedido-item {
    width: 100px;
    font-size: 10px;
  }

  main section.pedido .box2 .box2-parte2 h1 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  main section.pedido .box2 .botao {
    justify-content: center;
    font-size: 12px;
  }
}
