* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

div.clear {
  clear: both;
}

/*------ HEADER -----*/

header {
  width: 100%;
  height: 100px;
  padding: 40px;
  border: 1px solid #486284;
  background-color: #ced7e4;
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, .35);
  z-index: 3;
}

header .logo {
  position: relative;
  top: -10px;
  float: left;
  width: 160px;
  height: 40px;
  background-image: url("../src/bitmap.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/*------ MENU -----*/

header .menu {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-shrink: 0;
  gap: 60px;
}

header .menu-itens ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 60px;
}

header .menu-itens a {
  color: #486284;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  text-decoration: none;
}


/*------ MENU MOBILE -----*/

.menu-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {

  header .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, .35);
    position: relative;
    width: 100%;
    z-index: 3;
  }

   .menu-mobile ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #486284;
  }

  .menu-mobile-itens li {
    float: left;
  }

  .menu-mobile-itens li a {
    padding: 20px 30px;
    color: #fff;
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #ced7e4;
    text-decoration: none;
  }

  .menu-mobile .menu-mobile-itens {
    clear: none;
    float: right;
    max-height: none;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .menu-mobile li a:hover,
  .menu-mobile .menu-btn:hover {
    font-weight: 700;
  }

  .menu-mobile .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .menu-mobile .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 26px;
  }

  .menu-mobile .menu-icon .navicon:before,
  .menu-mobile .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .menu-mobile .menu-icon .navicon:before {
    top: 5px;
  }

  .menu-mobile .menu-icon .navicon:after {
    top: -5px;
  }

  .menu-mobile .menu-btn {
    display: none;
  }

  .menu-mobile .menu-btn:checked~.menu-mobile-itens {
    max-height: 100%;
  }

  .menu-mobile .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
  }

  .menu-mobile .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-mobile .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-mobile .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
  .menu-mobile .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

}

/*------ ACCOUNT -----*/

header .user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

header .user-profile+svg {
  width: 14px;
  cursor: pointer;
}

/*------ CARRINHO -----*/

header .cart {
  position: relative;
  width: 50px;
  height: 50px;
  background: #292d48;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &:before {
    position: absolute;
    top: -12px;
    right: -12px;
    content: attr(data-totalitems);
    font-size: 12px;
    font-weight: 600;
    background: #2bd156;
    line-height: 24px;
    padding: 0 1px;
    height: 24px;
    min-width: 24px;
    color: white;
    text-align: center;
    border-radius: 24px;
  }
}

header .cart i {
  font-size: 25px;
  color: white;
}

/*------ PEDIDO -----*/

main {
  padding-top: 50px;
}

main span {
  color: #486284;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: capitalize;
  margin-top: 30px;
}

main section.pedido {
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
  gap: 5%;
}

main section.pedido .box1 {
  width: 50%;
  border-radius: 63px 0px 0px 0px;
  background: #aab5c3;
  padding: 40px 30px;
}

main section.pedido .box1 .box1-parte1 {
  display: flex;
  gap: 5%;
}

main section.pedido .box1 .box1-parte2 .endereco-entrega {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;
}

main section.pedido .box1 img {
  width: 40px;
  height: 40px;
}

main section.pedido h1 {
  color: #486284;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: uppercase;
}

main section.pedido p,
label {
  color: #486284;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  opacity: 0.9;
}

main section.pedido input {
  font-size: 16px;
  padding: 12px;
  display: block;
  width: 100%;
  height: 47px;
  background: #ced7e4;
  outline: none;

  border: 1px solid rgb(var(--wix-ui-tpa-text-field-main-border-color-rgb, var(--wix-color-5)),
      calc(var(--wix-ui-tpa-text-field-main-border-color-opacity, 1) * var(--wix-ui-tpa-text-field-main-border-opacity, 0.6)));
}

main section.pedido select {
  border: none;
  color: #486284;
  font-size: 16px;
  padding: 12px;
  display: block;
  width: 100%;
  height: 47px;
  background: #ced7e4;
  outline: none;
  -webkit-appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC");
  background-size: 12px;
  background-position: 96% center;
  background-repeat: no-repeat;
}

main section.pedido input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

main section.pedido input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

main section.pedido .box2 {
  width: 50%;
  border-radius: 63px 0px 0px 0px;
  background: #aab5c3;
  padding: 40px 30px;
}

main section.pedido .box2 .box2-parte1 {
  display: flex;
  justify-content: space-between;
}

main section.pedido .box2 .box2-parte1 img {
  width: 140px;
  height: 140px;
}

main section.pedido .box2 .box2-parte1 h1 {
  padding-top: 20px;
}

main section.pedido .box2 .box2-parte1 input {
  margin-top: 20px;
}

main section.pedido .box2 .box2-parte1 input::-webkit-inner-spin-button {
  all: unset;
  min-width: 21px;
  min-height: 45px;
  margin: 17px;
  padding: 0px;
  background-image: linear-gradient(to top,
      transparent 0px,
      transparent 16px,
      #ced7e4 16px,
      #ced7e4 26px,
      transparent 26px,
      transparent 35px,
      #000 35px,
      #000 36px,
      transparent 36px,
      transparent 40px),
    linear-gradient(to right,
      transparent 0px,
      transparent 10px,
      #000 10px,
      #000 11px,
      transparent 11px,
      transparent 21px);
  transform: rotate(90deg) scale(0.8, 0.9);
  cursor: pointer;
}

main section.pedido .box2 hr {
  width: 479px;
  height: 2px;
  margin-top: 40px;
  background: #486284;
}

main section.pedido .box2 .box2-parte2 {
  display: flex;
  justify-content: space-between;
}

main section.pedido .box2 .titulo {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

main section.pedido .box2 .valores {
  display: flex;
  flex-direction: column;
  gap: 80px;
  text-align: right;
}

main section.pedido .box2 .botao {
  display: flex;
  justify-content: center;
}

main section.pedido .box2 input[type="submit"] {
  background-color: #22487c;
  border: 0;
  width: 90%;
  height: 55px;
  font-size: 22px;
  color: #ced7e4;
  margin-top: 100px;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 200ms linear;
  letter-spacing: 0.2em;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
}

main section.pedido .box2 input[type="submit"]:hover {
  background-color: #003985;
  color: #fff;
  width: 100%;
  height: 60px;
}

/*------ FOOTER -----*/

footer {
  width: 100%;
  background-color: #aab5c3;

}

footer .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
}

footer .container div {
  margin-top: 50px;
  width: 200px;

}

@media only screen and (max-width: 1280px) {
  footer .container div {
    flex-basis: 100%;
    text-align: center;
  }
}


/*--- FOOTER-BOX-1 ---*/

footer .footer-section-logo {
  width: 200px;
  height: 100%;
  margin-top: 50px;
}

footer .footer-section-logo img {
  width: 160px;
  height: 100%;
}

footer .footer-section-logo p {
  margin-top: 50px;
  color: #486284;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}

/*--- FOOTER-BOX-2 ---*/

footer h1 {
  color: #1a202c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
}

footer nav {
  color: #486284;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  text-decoration: none;
}

footer nav ul {
  list-style-type: none;
}

footer nav li {
  margin-top: 20px;
}

footer nav i {
  margin-right: 10px;
}

/*------ DIREITOS RESERVADOS -----*/

footer hr {
  width: 60%;
  border-color: #6a6c6d;
  opacity: 0.4;
  box-sizing: border-box;
  margin: 20px auto;
}

footer .direitos-reservados {
  color: #1a202c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  text-align: center;
  padding-bottom: 1%;
}


/*------ ICON SOCIAL -----*/

.icons-social {
  width: 100%;
  margin-top: 60px;
}

.icons-social a {
  text-decoration: none;
  color: #aab5c3;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.icons-social i {
  line-height: 40px;
}

@media only screen and (max-width: 1280px) {
  footer .footer-section-logo .icons-social {
    width: 100%;
    display: flex;
    justify-content: center;

  }
}