main {
  padding: 0px 20px 150px 20px;
}

.text {
  padding: 80px 0px 50px 50px;
  flex-shrink: 0;
}
.text1 {
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  padding: 0px 0px 50px 0px;
}

.text2 {
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 30px 0px 20px 0px;
}
.text2 p {
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 20px 0px 20px 0px;
}
main section.cafes {
  display: flex;
  padding: 0px 50px 100px 50px;
  justify-content: center;
  gap: 0px 30px;
}
main section .cafes .tabela {
  margin: 50px auto;
  width: 500px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
main section .cafes .tabela div {
  margin: 50px 100px;
}
main section.cafes .tabela img {
  height: 100px;
  width: 100px;
}

.botao a {
  width: 100px;
  height: 100px;
  align-items: center;
  color: white;
  background-color: #2a130a;
  border-radius: 5px;
  padding: 8px 10px 10px 10px;
  margin-left: 100px;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
