body {
  margin: 2px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #aea393;
}

.text {
  width: 1547px;
  height: 300px;
  flex-shrink: 0;
}
.text1 {
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}

.text2 {
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.cafes {
  width: 1024px;
  display: flex;
  height: 400px;
  gap: 40px 50px;
}
.botao {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #2a130a;
  border-radius: 5px;
  padding: 8px 10px 10px 10px;
  margin-bottom: 30px;
  margin-left: 200px;
  text-align: center;
  /* Semibold/Type@16 */
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
