/*------ VOCÊ SABIA -----*/

main {
  padding: 2%;
}

.texto h1 {
  color: #2a130a;
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  padding-top: 50px;
}
.texto p {
  color: #2a130a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.32px;
  margin-top: 40px;
  text-align: justify;

  padding: 5%;
}
@media (max-width: 800px) {
  .text5 h2 {
    font-size: 16px;
  }
}

.wiki a {
  color: rgb(67, 30, 0);
}
