main {
<<<<<<< HEAD
  padding: 20px 0px 100px 20px;
}

.texto h1 {
  color: var(--Black, #1a202c);
=======
  padding: 2%;
  background-color: #e4d7ce;
}

.texto h1 {
  color: #2a130a;
>>>>>>> main
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  padding-top: 50px;
}
<<<<<<< HEAD

.texto p {
  text-align: justify;
  color: var(--Black, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 50px 20px 50px 0px;
}

@media (max-width: 800px) {
  .texto h1 {
    font-size: 20px;
  }

  .texto p {
    font-size: 16px;
    padding: 30px 20px 30px 0px;
  }
}

@media (max-width: 400px) {
  main {
    padding: 10px 0px 50px 10px;
  }

  .texto h1 {
    font-size: 18px;
    padding-top: 30px;
  }

  .texto p {
    font-size: 14px;
    padding: 30px 10px 30px 0px;
=======
.texto p {
  color: #2a130a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 121.2%;
  text-align: justify;
  margin-top: 30px;

  padding: 5%;
}
@media (max-width: 800px) {
  .text5 h2 {
    font-size: 16px;
>>>>>>> main
  }
}

.wiki a {
  color: rgb(67, 30, 0);
}
