* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  padding: 40px;
  border: 1px solid #486284;

  background: #ced7e4;
}

header .logo {
  position: relative;
  top: -10px;
  float: left;
  width: 160px;
  height: 40px;
  background-image: url("src/bitmap.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header nav {
  float: right;
}

header nav.menu ul {
  list-style-type: none;
}

header nav.menu li {
  float: left;
  padding: 0 20px;
}

header nav.menu a {
  color: #1a202c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;

  text-decoration: none;
}
